.btnCamera {
	border: "none";
	text-decoration: "none";
	width: "3.5rem";
	height: "3.5rem";
	border-radius: "0.5rem";
	background-repeat: "no-repeat";
	background-position: "center";
	background-size: "cover";
	box-shadow: "4px 4px 8px rgba(0 41, 132, 0.25)";
	display: "flex";
	justify-content: "center";
	align-items: "center";
}
