@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
	scroll-behavior: smooth;
}

@media only screen and (min-width: 992px) {
	.layout_parent {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #212121;
	}

	.layout {
		width: 50%;
		background-color: white;
	}
}

.layout {
	min-height: 100vh;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header {
	min-height: 50px;
}

footer {
	min-height: 50px;
}

video {
	width: 100%;
	height: 95vh;
	object-fit: cover;
	border-radius: 8px;
}

/* custoom input file */

#upload-photo {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

/* img crop */

.reactEasyCrop_Image {
	border-radius: 8px;
	width: 95%;
}

.reactEasyCrop_CropArea {
	width: 80% !important;
}

.reactEasyCrop_Contain {
	max-height: 82% !important;
}

.reactEasyCrop_Container {
	background-color: white;
}
