@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

#root {
	min-height: 100vh;
	margin: 0;

	display: grid;
	grid-template-rows: auto 1fr auto;
}

@media only screen and (min-width: 992px) {
	#root {
		background-color: #212121;
		color: white;
	}

	span {
		color: white !important;
	}
}

header {
	min-height: 50px;
}

footer {
	min-height: 50px;
}

video {
	width: 100%;
	height: 95vh;
	object-fit: cover;
	border-radius: 8px;
}

/* custoom input file */

#upload-photo {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.reactEasyCrop_Container {
	border-radius: 8px;
}
